body{
    background-color: #1E1E1E;
    color: white;
}

.main{
    max-width: 1440px;
    padding: .4rem;  
    margin-top: 40px;
}

.color{
    width: 45px;
    height: 45px;
    border: 0;
    cursor: pointer;
    background: none;
}

.box{
    border: 1px solid #3E7292;
    border-radius: 4px;
    padding: 10px;
    min-width: 130px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.text-color{
    text-transform: uppercase;
}

.option__title{
    font-weight: bold;
}

.card{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    flex-wrap: wrap;
}

.option__card{
    margin-bottom: 0;
}

.card__btn{
    padding: 10px;
    background: none;
    cursor: pointer;
    border-color: white;
    border-radius: 4px;
}

.main, .card__btn{
    color: inherit;
}

.card__btn--active{
    background-color: white;
    color: black;
}


.code{
    background-color: #333333;
    min-height: 100px;
    border-radius: 4px;
    width: 85%;
    font-size: 18px;
    padding: 1.5rem;
}

.code__line{
    margin-top: 1rem;
}

.option__card,
.canva{
    margin-top: 30px;
}

.options,
.options-right{
    padding: .8rem;
}

.range{
    appearance: none;
    background-color: #B2C3CE;
    border-radius: 10px;
    width: 200px;
    height: 5px;
}

.row-flex{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}


.options-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    align-items: center;
}
.canva,
.options__gradient{
    width: 100%;
    height: 350px;
    background-color: white;
    border-radius: 4px;
}

.options__gradient{
    padding: .4rem;
    box-sizing: border-box;
    height: 250px;
    margin-top: auto;
}

.canva{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}


.box__color{
    height: 50px;
}

.canva__preview{
   font-size: 13px;
   color: black;
   top: 0;
   left: -1px;
   border-radius: 3px;
   padding: .2rem;
   border: 1px solid #B2C3CE;
   position: absolute;
}
.canva__text{
    font-size: 20px;
    color: black;
    font-size: 35px;
    font-family: fantasy;
}

.box__gradient{
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
}

.property__value,
.property__gradient{
    color: #7cc9ff;
}


.property{
    font-weight: bold;
}


.pallete1{
    background-color: #1C1678;
}

.pallete2{
    background-color: #8576FF;
}


.pallete3{
    background-color: #424B54;
}

.pallete4{
    background-color: #93A8AC;
}


.pallete5{
    background-color: #D7D9D7;
}

.pallete6{
    background-color: #C9C5CB;
}


.pallete7{
    background-color: #CA054D;
}

.pallete8{
    background-color: #3B1C32;
}


.pallete9{
    background-color: #507255;
}

.pallete10{
    background-color: #488B49;
}


.pallete11{
    background-color: #CC5803;
}

.pallete12{
    background-color: #E2711D;
}

.pallete13{
    background-color: #6E0D25;
}

.pallete14{
    background-color: #FFFFB3;
}


.pallete15{
    background-color: #7B3E19;
}

.pallete16{
    background-color: #B28B84;
}


@media screen and (min-width:768px){
    .options{
        width: 50%;
    }

    .options-right{
        border-left: 3px solid #B2C3CE;
    }
    
    .canva,
    .options__gradient{
    width: 80%;
    max-width: 500px;
    height: 350px;
    }
    .code{
        width: 60%;
    }

    .card--flex{
        display: flex;
        width: 64%;
        flex-wrap: wrap;
    }

    .main{
        display: flex;
        margin: 0 auto;
    }
}

.hide{
    display: none;
}